# Ignorar entornos virtuales
backend/venv/

# Ignorar archivos compilados temporales de Python
backend/__pycache__/
*.pyc

# Ignorar el archivo de las variables de entorno
backend/.env

# Base de datos SQLite
*.db

.vscode/
.idea/
.DS_Store
.playwright-mcp/